{% extends 'base.html' %}

{% block blockone %}
<div class="container-fluid">
         <!-- Some of the products from store -->
          <!-- Registration -->
        <h1 style="text-align: center; margin-top: 4%;">Where You Want to go</h1>  
    
        <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-md-4" id="colm">
                <a href="{{url_for('doclist')}}">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="{{url_for('static',filename='assets/image/bone.png')}}" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">General Treatment</h4>
                        </div>
                      </div>

                </a>
            </div>
            <div class="col-md-4" id="colm">
                <a href="{{url_for('doclist')}}">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/image/bone.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Orthopaedic Treatment center</h4>
                        </div>
                      </div>

                </a>
            </div>
            <div class="col-md-4" id="colm">
                <a href="{{url_for('doclist')}}">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/image/otro.jpg" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Otolaryngology Treatment center</h4>
                        </div>
                      </div>

                </a>
            </div>

        </div>
        <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-md-4" id="colm">
                <a href="{{url_for('doclist')}}">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/image/child.jpg" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">pediatric center</h4>
                        </div>
                      </div>

                </a>
            </div>
            <div class="col-md-4" id="colm">
                <a href="{{url_for('doclist')}}">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="assets/image/emer.jpeg" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">Emergency center</h4>
                        </div>
                      </div>
                </a>
            </div>

        </div>
{% endblock blockone %}