{% extends 'base.html' %}
{% block blockone %}

<div class="container-fluid">    
        <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-md-4" id="colm">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="assets/image/d.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Doctor kidus</h4>
                      <p class="card-text">
                          Departments : Anesthesiology <br>
                          Available Dates : Monday,Tusday,Friday <br>
                          From : 3:00Pm - 5:00pm
                      </p>
                      
                      <a href="{{url_for('pregister')}}" class="btn btn-primary" id="wase">REQUEST AN APPOINTMENT ></a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4" id="colm">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="assets/image/d2.jpeg" alt="Card image" style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title">Doctor Getachew</h4>
                        <p class="card-text">
                            Departments : Anesthesiology <br>
                            Available Dates : Monday,Tusday,Friday <br>
                            From : 3:00Pm - 5:00pm
                        </p>
                      
                      <a href="{{url_for('pregister')}}" class="btn btn-primary" id="abel">REQUEST AN APPOINTMENT ></a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4" id="colm">
                <div class="card" style="width:400px;height: min-content;">
                    <img class="card-img-top" src="assets/image/dd2.jpeg" alt="Card image" style="height: 300px;">
                    <div class="card-body">
                        <h4 class="card-title">Doctor solomon</h4>
                        <p class="card-text">
                            Departments : Anesthesiology <br>
                            Available Dates : Saturday,Wensday,Friday <br>
                            From : 9:00Am - 5:00pm
                        </p>
                      
                      <a href="{{url_for('pregister')}}" class="btn btn-primary" id="nati">REQUEST AN APPOINTMENT ></a>
                    </div>
                  </div>
            </div>
        </div>
{% endblock blockone %}